.menu{ 
    height: 10%;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    border-color: aliceblue;
    background-color: aliceblue;
    position: fixed;
    justify-content: space-evenly;
}
.div0{
    background-color: red;
    height: 500px;
    width: 100%;
    display: flex;
    background-image: url(logo.jpeg);
    background-size: 70%;
    justify-content: center;
    background-position-y: 35%;
    background-position-x: 50%;
    background-repeat:0;
}
.a1{
    text-decoration: none;
    color: black;
}
.p1{
    margin: 0 auto;
}.p2{
    text-align: center;
    font-size: 100px;
}
.div3{
    background-color: aliceblue;
    height: 50px;
    width: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 20px;
}
.a2{
    text-decoration: none;
    color: black;
}
.body{
    background-color: aquamarine;
    margin: auto 0;
}
.hz{
    margin: 20px 0;
}
.p2{
    font-size: 1.5vw;
    text-align: left;
}
.kont{
    display: flex;
}
.but1:hover{
    border: none;
    background-color: aqua;
    height: 3vw;
    border-radius: 20px;
    width: 6vw;
    
}
.but1{
    border: none;
    background-color: red;
    height: 3vw;
    border-radius: 20px;
    width: 6vw;
    font-size: 1vw;
}

.hz1{
    height: 30%;
    width: 31%;
    border: 2px solid black;
}
.bigi{
    height: 100%;
    width: 100%;
    border: 2px solid red;
    display: flex;
}